#server-messages {
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    position: fixed;
}

.row-selected {
    background: #428bca;
}

.table-striped > tbody > tr:nth-child(odd).row-selected > td {
    background-color: #357ebd;
}

.status-color {
    width: 50%;
    height: 30px;
    border-radius: 100%;
    margin: 0 auto;
}

.menu-select-hotel {
    float: right;
    padding-top: 5px;
}

.btn-select-hotel{
    padding: 5px 10px !important;
    margin: 10px !important;
    border-radius: 2px !important;
    color: #fff !important;
    background-color: #47a447 !important;
    border-color: #398439 !important;
}
.btn-select-hotel:hover{
    color: #fff !important;
    background-color: #47a447 !important;
    border-color: #398439 !important;
}

#selected-hotel-name{
    color: white !important;
    font-weight: bold !important;
    line-height: 20px !important;
    font-size: 20px !important;
}
#selected-hotel-name-label{
    color: white !important;
    font-weight: normal !important;
    padding: 0 15px 0 0 !important;
}

.modal-backdrop.fade.in {
    z-index: 999 !important;
}

.reservation-status-type{
    display: inline-table;
    margin-left: 10px;
    margin-top: -4px;
    font-weight: bolder;
}

.reservation-status-color {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-table;
}

.form-search{
    margin: 0 auto;
}

/*TODO: position fixed for menu?*/
/*
#top{
    position: fixed;
    z-index: 1001;
    width: 100%;
    background: #404040;
}

#left{
    position: fixed;
    z-index: 1001;
    top: 113px;
    background: #404040;
}

#content{
    position: absolute;
    top: 114px;
    left: 220px;
    padding-bottom: 48px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
}

html {
    background: #333;
}*/
